{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_scripts %}
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
{% endblock head_scripts %}
{% block content %}
{% include "messages.html" %}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>{% translate "Cookbook" %}</h3>
            <p class="text-subtitle text-muted">{% translate "Here you will find all your recipes" %}</p>
        </div>
    </div>
</div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'new_recipe' %}">
                <button type="button" class="btn btn-outline-primary" >{% translate "New Recipe" %}</button>
                <a/>
                <table class="table table-striped" id="recipes">
                    <thead>
                        <tr>
                            <th>{% translate "Recipe" %}</th>
                            <th>{% translate "Privacy" %}</th>
                            <th>{% translate "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in recipes %}
                            <tr>
                                <td>
                                    <a href="{% url 'view_recipe' recipe.id %}">
                                    {{ recipe.name }}
                                </a>
                                </td>
                                <td>
                                    {% if recipe.privacity == 'public' %}
                                        <span class="badge bg-success">{% translate "Public" %}</span>
                                    {% endif %}
                                    {% if recipe.privacity == 'private' %}
                                        <span class="badge bg-secondary">{% translate "Private" %}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-sm " href="{% url 'delete_recipe' recipe.id %}" role="button"> 
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>
    // Simple Datatable
    let recipes = document.querySelector('#recipes');
    let dataTable = new simpleDatatables.DataTable(recipes);
    </script>
{% endblock content %}
