{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_scripts %}
    {% comment %} <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {{ form.media.css }}
{% endblock head_scripts %}
{% block title %}
    <h3>{% translate "New Recipe" %}</h3>
{% endblock title %}

{% block content %}
<form class="mb-4" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form | crispy }}
    <table class="table">
    {{ ingredient_formset.management_form | crispy }}
    {% for form in ingredient_formset %}
        {% if forloop.first %}
            <thead>
            <tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tr class="{% cycle "row1" "row2" %} formset_row">
            {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field|as_crispy_field }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <input class="btn btn-primary" type="submit" value="Guardar">
    
</form>
<datalist id="ingredient_list">
    {% for results in ingredients_all %}<option value="{{ results.name }}">{% endfor %}
</datalist>
{{ form.media.js }}
<script src="{% static 'assets/js/formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Agregar Ingrediente',
        deleteText: 'Borrar',
        prefix: '{{ ingredient_formset.prefix }}'
    });
</script>
<style>
    label[for=id_instructions] {
        display: none;
      }
</style>
{% endblock content %}

