{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_scripts %}
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
{% endblock head_scripts %}
{% block content %}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>{% translate "My Ingredients" %}</h3>
            <p class="text-subtitle text-muted">{% translate "Here you will find all your Ingredients" %}</p>
        </div>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary">{% translate "New Ingredient" %}</button>
            <table class="table table-striped" id="recipes">
                <thead>
                    <tr>
                        <th>{% translate "Ingredient" %}</th>
                        <th>{% translate "Delete" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>
                                <a href="{% url 'view_recipe' ingredient.id %}">
                                {{ ingredient.name }}
                            </a>
                            </td>
                            <td>
                                <a class="btn btn-sm " href="#" role="button"> 
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
// Simple Datatable
let recipes = document.querySelector('#recipes');
let dataTable = new simpleDatatables.DataTable(recipes);
</script>
{% endblock content %}