{% block head_script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock head_script %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    setTimeout(function() {
        // Closing the alert
        $('#alert').alert('close');
    }, 5000);
</script>