{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_scripts %}
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
{% endblock head_scripts %}
{% block content %}
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped" id="recipes">
                    <thead>
                        <tr>
                            <th>{% translate "Recipe" %}</th>
                            <th>{% translate "Description" %}</th>
                            <th>{% translate "Author" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'view_recipe' recipe.id %}">{{ recipe.name }}</a>
                                </td>
                                <td>{{ recipe.short_description }}</td>
                                <td>{{ recipe.user.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>
    // Simple Datatable
    let recipes = document.querySelector('#recipes');
    let dataTable = new simpleDatatables.DataTable(recipes);
    </script>
    <script>
    {% comment %} #ME QUEDO ACA {% endcomment %}
    function calculate_ingredients() {
        var portionsInput = document.getElementById("id_portions");
        var portions = parseFloat(portionsInput.value);

        var table = document.getElementById("ingredients");
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            if (cells.length === 2) {
                var originalQuantity = cells[1].innerText;
                var quantity = parseFloat(originalQuantity.split(" ")[0]);
                var unit = originalQuantity.split(" ")[1];

                var newQuantity = (quantity * portions).toFixed(2);
                cells[1].innerText = newQuantity + " " + unit;
            }
        }
    }

    // Llama a la función calculate_ingredients() al cargar la página para que inicialice las cantidades.
    calculate_ingredients();
    </script>
{% endblock content %}
