{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy formset helper %}
{% block head_scripts %}
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock head_scripts %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar" />
    </form>
{% endblock content %}
