{% extends "base.html" %}
{% load i18n %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p><strong>{{object}}</strong></p>
    <p><strong>{% translate "Do you want to delete the recipe " %}</strong></p>
    <button type="submit" class="btn btn-danger">{% translate "Confirm" %}</button>
</form>
{% endblock content %}