{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_scripts %}
    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
{% endblock head_scripts %}

{% block content %}
{% include "messages.html" %}
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><a href="{% url 'cookbook' %}"> {% translate "My Recipes" %}/</a>
                    {{ recipe.name }}
                    <a class="btn btn-primary btn-sm " href="{% url 'edit_recipe' recipe.id %}" role="button">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-secondary btn-sm " href="{% url 'delete_recipe' recipe.id %}" role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-secondary btn-sm " href="#" role="button">
                    <i class="fa fa-file-pdf" aria-hidden="true"></i>    
                    </a>
                </h3>
                <p class="text-subtitle text-muted">{{ recipe.short_description }}</p>
            </div>
        </div>
    </div>
    <h4 onchange=calculate_ingredients()>{{ portionsform | crispy }}</h4>
    <h4>{% translate "Ingredients" %}</h4>
    <table class="table table-striped" id="ingredients">
        <thead>
            <tr>
                <th>{% translate "Ingredient" %}</th>
                <th>{% translate "Quantity" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.qt }} {{ ingredient.unit.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>{% translate "Instructions" %}</h4>
    {{ recipe.instructions | safe }}

<script>
    function GetCellValues() {
        var table = document.getElementById('ingredients');
        var objCells = myTab.rows.item(i).cells;
        for (var j = 2; j < objCells.length; j++) {
            info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
        }
    }
    function calculate_ingredients(){
        var portions = document.getElementsByName("portions")[0].value
    }   
</script>
{% endblock content %}
