{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Open Meal Planning</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
              rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}" />
        <link rel="stylesheet"
              href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/app.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'assets/vendors/simple-datatables/style.css' %}"/>
        <link rel="shortcut icon"
              href="{% static 'assets/images/favicon.svg' %}"
              type="image/x-icon"/>
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
              rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
              rel="stylesheet"/>
        {% block head_scripts %}{% endblock %}
        {% block js_scripts %}{% endblock js_scripts %}
    </head>
    <body>
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a href="">
                                    <p>OMP</p>
                                    {% comment %} <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""> {% endcomment %}
                                </a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu">
                            <li class="sidebar-item  has-sub">
                                <a href="#" class="sidebar-link">
                                    <i class="fas fa-book-open"></i>
                                    <span>{% translate "My Cookbook" %}</span>
                                </a>
                                <ul class="submenu ">
                                    <li class="submenu-item {% if request.session.active_menu == 'cookbook' %}active{% endif %}">
                                        <a href="{% url 'cookbook' %}">
                                            <i class="fas fa-utensils"></i>
                                        {% translate "My Recipes" %}</a>
                                    </li>
                                    <li class="submenu-item {% if request.session.active_menu == 'ingredients' %}active{% endif %}">
                                        <a href="{% url 'ingredients' %}">
                                            <i class="fas fa-carrot"></i>
                                        {% translate "Ingredients" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item {% if request.session.active_menu == 'public_recipes' %}active{% endif %}">
                                <a href="{% url 'publicookbook' %}" class="sidebar-link">
                                    <i class="fa fa-globe"></i>
                                    <span>{% translate "Public Recipes" %}</span>
                                    </a>
                                </li>
                                <li class="sidebar-item {% if request.session.active_menu == 'planner' %}active{% endif %}">
                                    <a href="#" class="sidebar-link">
                                        <i class="fas fa-calendar"></i>
                                        <span>{% translate "Planner" %}</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">
                                        <i class="fas fa-clipboard-list"></i>
                                        <span>{% translate "Shopping List" %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="sidebar-toggler btn x">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                </div>
                <div id="main">
                    <header class="mb-3">
                        <a href="#" class="burger-btn d-block d-xl-none">
                            <i class="bi bi-justify fs-3"></i>
                        </a>
                    </header>
                    <div class="page-heading">
                        {% comment %} <h3>{% title %}</h3> {% endcomment %}
                    </div>
                    <div class="page-content">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-12 col-md-6 order-md-1 order-last">
                                    {% block title %}{% endblock title %}
                                </div>
                            </div>
                        </div>
                        {% block content %}{% endblock %}
                    </div>
                    <footer>
                        <div class="footer clearfix mb-0 text-muted">
                            <div class="float-start">
                                <p>2022 &copy; Alitux</p>
                            </div>
                            <div class="float-end">
                                <p>
                                    {% comment %} Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a> {% endcomment %}
                                </p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
            <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
            {% comment %} <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script> {% endcomment %}
            {% comment %} <script src="{% static 'assets/js/pages/dashboard.js' %}"></script> {% endcomment %}
            <script src="{% static 'assets/js/main.js' %}"></script>
        </body>
    </html>